<div class="fixed inset-0 flex items-center justify-center">
    <iframe
        src='https://my.spline.design/fireparticleloaderanimationdrstrangeporta-77aa8156e22f614d21d0063a376f0cfd/'
        frameborder='0'
        class="w-full h-full">
    </iframe>
</div>
